<div class="container">
    <div class="main">
        <div class="col-md-6 ">
            <h1>AUTHENTIFICATION</h1>
            <form  #f="ngForm"    [formGroup]="userForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label class="control-label">Email :</label>
                    <input type="text"  name="mail"  id="mail"  formControlName= "email" required class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Password: </label>
                    <input type="password"   name="password"   formControlName= "password" required class="form-control">
                </div>     
                <button type="submit" [disabled]="!userForm.valid"    class="btn btn-primary" >Valider</button>
    
            </form> 
        </div>
      

    </div>
    
</div>
