<div *ngIf="!tariningId"  class="container">
    <div class="main">
        <div class="col-md-6 ">
            <h1>Ajouter une formation</h1>
            <form  #f="ngForm"   (ngSubmit)="submitTraining(f.value)" [formGroup]="myForm" >
                <div class="form-group">
                    <label class="control-label">Nom de la formation :</label>
                    <input type="text"  name="name"  id="name"  formControlName= "name" required class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Description: </label>
                    <input type="text"   name="description"   formControlName= "description" required class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Prix: </label>
                    <input type="number"   name="price" formControlName= "price" required class="form-control">
                </div>        
                <button type="submit"   [disabled]="!this.myForm"  class="btn btn-primary" >Ajouter</button>
    
            </form> 
        </div>
      

    </div>
    
</div>

<div *ngIf="tariningId" class="container">
    <div class="main">
        <div class="col-md-6 ">
            <h1>Modifier une formation</h1>
            <form  #f="ngForm"   >
                <div class="form-group">
                    <label class="control-label">Id :</label>
                    <input type="text" [(ngModel)] = "traningData.id"   name="id"  id="id"   class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Nom de la formation :</label>
                    <input type="text"  [(ngModel)] = "traningData.name"  name="name"  id="nameOftraining"   class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Description: </label>
                    <input type="text"    [(ngModel)] = "traningData.description"  name="description"    class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Prix: </label>
                    <input type="number"   [(ngModel)] = "traningData.price" name="price"   class="form-control">
                </div>     
                <button type="submit" (click)="upDate()" class="btn btn-primary" >Modifier</button>
    
            </form> 
        </div>
      

    </div>
    
</div>
